body{
    font-family: Arial;
    background:#f4f4f4;
}

.container{
    width:400px;
    margin:100px auto;
    text-align:center;
    background:white;
    padding:20px;
    border-radius:10px;
}

.task-input{
    margin-bottom:20px;
}

input{
    padding:8px;
    width:70%;
}

button{
    padding:8px 15px;
    background:#007BFF;
    color:white;
    border:none;
    cursor:pointer;
}

ul{
    list-style:none;
    padding:0;
}

li{
    background:#eee;
    margin:5px;
    padding:10px;
    display:flex;
    justify-content:space-between;
}

.delete-btn{
    background:red;
    color:white;
    border:none;
    padding:5px;
}